*{
    margin: 0;
    padding: 0;
}
.calender{
    
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 2em repeat(6,1fr);
    align-items: center;
    gap: 1em;
   
    
    
}
.date,.day{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: lightslategray;
    height: 100%;
    border-radius: 5px;
    
    
}
.day{
    font-size: 1.5em;
}
.gray,.day{
    background-color: lightgray;
}
